.mararui__app .mararui__button {
  user-select: none;
}

.mararui__app .mararui__button button {
  border: none;
  background: none;
  -webkit-appearance: none;
  box-shadow:
    0 0 3px #888a,
    inset 0 0 3px #ddd,
    inset 0px 1px 0px white,
    inset 0px -1px 0px #fff7;
  padding: 2px 22px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #888a;
  background-image: linear-gradient(
    #e9e9e9 0%,
    #dadada 48.2%,
    #d0cbcb 48.9%,
    #efefef 100%
  );
  -webkit-font-smoothing: antialiased;
  color: #000c;
  transition:
    box-shadow 0.2s ease-in-out,
    color 0.3s ease-in-out,
    background-image 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 100;
  text-shadow: 0 0 1px #fff3;
  outline: none;
}

.mararui__app .mararui__button button:before {
  border-radius: inherit;
  background-image: linear-gradient(
    #e9e9e9 0%,
    #cbcbcb 48.2%,
    #bbbbbb 48.9%,
    #efefef 100%
  );
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.3s ease-in-out;
}

.mararui__app .mararui__button button:hover {
  box-shadow:
    0 0 8px rgba(118, 153, 160, 0.8),
    inset 0 0 2px #f1f1f1,
    inset 0px 1px 0px white;
  color: #000e;
  text-shadow: 0 0 3px #fffb;
  border: 1px solid #888d;
}

.mararui__app .mararui__button button:hover:before {
  animation: button__background__hover 0.75s infinite;
}

.mararui__app .mararui__button button:focus {
  box-shadow: 0 0 8px rgba(118, 153, 160, 0.6);
  color: #000e;
  text-shadow: 0 0 3px #fffb;
  border: 1px solid #888f;
  outline-color: #6ca7e688;
  outline-offset: 2px;
  outline-width: 3px;
  outline-style: solid;
}

.mararui__app .mararui__button button:focus:before {
  animation: button__background__hover 0.9s infinite;
}

.mararui__app .mararui__button button:active {
  background-image: linear-gradient(
    #e9e9e9 0%,
    #bdbaba 49.4%,
    #b5b5b5 49.9%,
    #efefef 100%
  );
  border: 1px solid #888f;
}

@keyframes button__background__hover {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mararui__app .mararui__button.mararui__button--variant-active button {

}

.mararui__app .mararui__button.mararui__button--variant-default button {

}

.mararui__app .mararui__button.mararui__button--variant-destructive button {

}
