.mararui__app > .mararui__pane {
  &.mararui__pane--direction-row {
    width: 100%;
    height: 100%;
  }
  
  &.mararui__pane--direction-column {
    width: 100%;
    height: 100%;
  }
}

.mararui__app .mararui__pane.mararui__pane--direction-row {
  & > .mararui__pane:not(:last-child) {
    border-right: 1px solid #8884;
  }
}

.mararui__app .mararui__pane.mararui__pane--direction-column {
  & > .mararui__pane:not(:last-child) {
    border-bottom: 1px solid #8884;
  }
}

.mararui__app .mararui__pane {
  display: flex;
  box-sizing: border-box;

  &.mararui__pane--direction-row {
    flex-direction: row;
    
    & > .mararui__pane {
      height: 100%;
    }
  }
  
  &.mararui__pane--direction-column {
    flex-direction: column;

    & > .mararui__pane {
      width: 100%;
    }
  }

  &.mararui__pane--vertical-top {
    align-items: flex-start;
  }

  &.mararui__pane--vertical-center {
    align-items: center;
  }

  &.mararui__pane--vertical-bottom {
    align-items: flex-end;
  }

  &.mararui__pane--horizontal-left {
    justify-content: flex-start;
  }

  &.mararui__pane--horizontal-center {
    justify-content: center;
  }

  &.mararui__pane--horizontal-right {
    justify-content: flex-end;
  }

  &.mararui__pane--fill {
    flex: 1;
  }

  &.mararui__pane--padding-none {
    padding: 0;
  }

  &.mararui__pane--padding-small {
    padding: 0.75rem;
  }

  &.mararui__pane--padding-medium {
    padding: 1.5rem;
  }

  &.mararui__pane--padding-large {
    padding: 2.25rem;
  }

  &.mararui__pane--padding-extralarge {
    padding: 3rem;
  }
}